#logoNavigation{

    content: "";
    
    position: fixed;
    
    left: 0.1%;
    
    top:0.2%;
    
    z-index: -1; 
    
    width: 99.8%;

    height: 89.9%;

    background-image: url("../img/11.jpg");

    background-position: 0% 80%;

    background-repeat:   no-repeat;

    background-color: white;
}

.divLayout{
    padding-top:120px;
}


.col-centered {
    
    float:none;
    margin: 0 auto;
}


#background-nav {
    background-color: white;
    height: 80px;
    position:fixed;
    z-index: 999;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */

}

#nav{
    position: fixed;

    z-index: 1000;
}


#nav ul{

    height: 20px;
    
    top: 30px;

    left: 650px;

    position: relative;

}


#nav ul li a {

    font-family: Roboto; 

    font-weight: bold;

    color: white;
    
    line-height: 25px;

    font-size: .9em;

    padding: 0 20px;

    text-decoration: none;

}

#nav ul li #EN{

    margin-left: 130px;
    margin-right: 0;
    padding: 0;
}

#nav ul li #PT{
    margin: 0;
    padding: 0;
}

#nav ul li .selected{
    text-decoration: underline;
}


#logo{
    top: 29px;
    position: fixed;
    z-index: 1000;
}

#logo #text-logo {
    margin: 12px 0px; 
    width: 178px; 
    height: 52px;
    background-image: url("../img/logo/LOGO_white.png");
    background-size: 178px 52px;
    z-index: +1;
    position: relative;
    bottom: 30px;
}

#text-logo h1{
    display:none;
}

#text-slogan {

    position: fixed;
}



#text-slogan h1{
    
    font-family: 'Lora';

    color: white; 

    font-size: 35pt;

    font-style: italic;
}

#icons-social-links{
  position: fixed;
  top:55em;
  width:180px;
  margin: 0 25px;

}

#icons-social-links a { 
    padding: 0 10px;

}

#icons-social-links a img { 
  
    width: 32px;
    height:32px;
}



#imgHomePage {
    border: 5px solid black;
    height: 400px;
    width: 900px;

}

.subTitulo h1{
    font-style: bold;
    font-size: 5.5em;
}

.texto{
    margin-top: 40px;
    padding: 20px;
    
}


#aNossaHistoria{

      position: absolute;

      margin-top: 25px;

      top: 100%;

      width: 100%;

      height: 100%;

      background: white;


}

#aNossaHistoria #aNossaHistoriaImg{
    border: 5px solid black;
    height: 200px;
}

.titleHeader{
    background-color: #efe6d9;
    height: 200px;
}

.boxHeader{
    border: 2px solid #d39191;
    left: 5px;
    top:10px;
    position: relative;
    height:200px;
    padding: 20px 20px;
    width:585px;
}

.boxHeader h1{
    font-style: italic;
    font-size: 4.0em;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}


#proporcionamos{

      position: absolute;

      margin-top: 25px;

      top: 200%;

      width: 100%;

      height: 100%;

      background: white;


}

#proporcionamos #proporcionamosImg{
    border: 5px solid black;
    height: 100px;
}


#contactos {

      position: absolute;

      top: 300%;

      width: 100%;

      height:100%;

      background: white;


}

#contactos #form {

    margin: 10px;

}




