#logoNavigation:before{

    content: "";
    
    position: fixed;
    
    left: 0.1%;
    
    top:0.2%;
    
    z-index: -1; 
    
    width: 99.8%;

    height: 89.9%;

    background-image: url("../img/11.jpg");

    background-position: 0% 80%;

    background-repeat:   no-repeat;

    background-color: white;
}

.divLayout{
    padding-top:180px;
}


.col-centered {
    
    float:none;
    margin: 0 auto;
}


#background-nav {
    background-color: white;
    height: 80px;
    display:none;
    position:fixed;
    z-index: 999;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */

}

#nav{
    position: fixed;

    z-index: 1000;
}


#nav ul{

    height: 20px;
    
    top: 30px;

    left: 650px;

    position: relative;

}


#nav ul li a {

    font-family: 'Muli'; 

    font-weight: normal;

    color: white;
    
    line-height: 25px;

    font-size: 14pt;

    padding: 0 20px;

    text-decoration: none;

    width:100%;

}

#nav ul li a:after{
    width: 50%;
}

#nav ul li a:hover{
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}

#nav ul li #EN{

    margin-left: 130px;
    margin-right: 0;
    padding: 0;
}

#nav ul li #PT{
    margin: 0;
    padding: 0;
}

#nav ul li .selected{
    border-bottom: 1px solid black;
}


#logo{
    top: 29px;
    position: fixed;
    z-index: 1000;
}

#logo #text-logo {
    margin: 12px 0px; 
    width: 190px; 
    height: 70px;
    background-image: url("../img/logo/LOGO_white.png");
    background-size: 190px  70px;
    z-index: +1;
    position: relative;
    bottom: 30px;
}

#text-logo h1{
    display:none;
}

#text-slogan {

    position: fixed;
    top: 30em;
}



#text-slogan h1{
    
    font-family: 'Lora';

    color: white; 

    font-size: 35pt;

    font-style: italic;
}

#icons-social-links{
  position: fixed;
  top:55em;
  width:180px;
  margin: 0 25px;

}

#icons-social-links a { 
    padding: 0 10px;

}

#icons-social-links a img { 
  
    width: 32px;
    height:32px;
}



#imgHomePage {
    border: 5px solid black;
    height: 400px;
    width: 900px;

}

.tittle-header{
    font-family: 'Lora';
    
    font-style: italic;

    font-size: 50pt;

    padding:40px 0;

    color: #333333;
}

.subTitulo h1{
    font-style: bold;
    font-size: 5.5em;
}

.texto{
    font-size: 18pt;

    font-family: 'Lora';

    line-height:38px;

    color: #333333;
}

.bold{
    font-size:17pt;
    padding-top: 40px;
}


#aNossaHistoria{

      position: absolute;

      margin-top: 25px;

      top: 100%;

      width: 100%;

      height: 100%;

      background: white;

}


#destination{

      position: absolute;

      margin-top: 25px;

      top: 200%;

      width: 100%;

      height: 100%;

      background: white;


}

#destination #fotoDestination {

    padding: 0;

    height: 75%;
}

#destination #fotoDestination img{
    width: 90%;


    display:block;
    
}

#servicos{

    position: absolute;

    margin-top: 25px;

    top: 300%;

    width: 100%;

    height: 100%;

    background: white;

    background-image: url("../img/servicos-background-10.png");

    background-position: 45% 80%;

    background-size: contain;

    background-repeat:   no-repeat;
}

#servicos h1 {
    margin: 0 80px;
}

#servicosPane1, #servicosPane2, #servicosPane3{
    height: 400px;
    text-align: center;
}


#servicosPane1 h2, #servicosPane2 h2, #servicosPane3 h2{
    font-family: 'Muli';
    font-weight: bold;
    font-size: 20pt;

}

#servicosPane1 h3, #servicosPane2 h3, #servicosPane3 h3{
    font-family: 'Lora';
    font-style: italic;
    font-size: 18pt;
    margin-top: 2px;
    margin-bottom: 55px;
}

#servicosPane1 {
    margin-top: 60px;
}

#servicosPane2 {

    margin-top: 60px;
    margin-left: 70px;
}

#servicosPane3 {
    margin-left: 40px;
    margin-top: 60px;
}

#servicosPane1 p{
    font-family: 'Lora';
    font-size: 13pt;
    text-align:left;
    margin-left: 70px;
    margin-bottom: 5px;
}

#servicosPane2 p{
    font-family: 'Lora';
    font-size: 13pt;
    text-align:left;
    margin-left: 45px;
    margin-bottom: 5px;
}

#servicosPane3 p{
    font-family: 'Lora';
    font-size: 13pt;
    text-align:left;
    margin-left: 45px;
    margin-bottom: 5px;
}

.buttonMore{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 100%;
}

.buttonMore span {
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-size: 20pt;
    position: relative;
    bottom: 8px;
    cursor: pointer;
}

#more1, #more2 {
    margin: 30px auto;
}

#more3 {
    margin: 45px auto;
}

/*=========Modal Box ================*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color:rgba(255, 255, 255, 0.8)
}

/* Modal Content/Box */
.modal-content {
    background-color: #ededed;
    padding: 20px;
    border: none;
    border-radius: 0%;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.4);
    width: 1430px; /* Could be more or less, depending on screen size */
    height:510px;
    top: 20%;
    left: 15%;
}

/* The Close Button */
.close {
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-size: 30pt;
    color: black;
    position: absolute;
    top: 10px;
    opacity: 1;
}

.close:hover, .close:focus{
    color: black;
    opacity:1;
    cursor: pointer;

}

.servicosModalConteudo{
    padding: 100px;
    width: 640px;
}

.servicosModalHeader{
    font-family: 'Muli';
    font-weight: bold;
    font-size: 18pt;

}

.servicosModalSubHeader{
    font-family: 'lora';
    font-style: italic;
    font-size: 17pt;

}

.servicosModalP{
    font-family: 'Lora';
    font-size: 13pt;
    text-align:left;
}


#contactos {

      position: absolute;

      top: 400%;

      width: 100%;

      height:100%;

      background: white;


}

#contactos #form {

    margin: 10px;

}




